<!DOCTYPE html>
<html ng-app="revolutionShop">
<head>
    <title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>
    <meta http-equiv="Content-Type" charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- my style -->
    <link href="css/mycss.css" rel="stylesheet" type="text/css" />
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/xeditable.min.js"></script>
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/angularfire.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/components.js"></script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    <script src="js/jquery.etalage.min.js"></script>
    <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="js/dirPagination.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <!--Add thu vien-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-controller="RevolutionController">
<!--header-->
<header-revolution></header-revolution>
<!---->
<div class="container">

    <div class="cart_grid" ng-controller="CartController as cartCtrl">
        <div style="margin: 30px; margin-top: 0px;">
            <h2>CÁC SẢN PHẨM ĐÃ CHỌN</h2>
        </div>
        <div class="cart-product" ng-repeat="cart in carts">
            <div class="product-img" ng-show="!cart.status">
                <img class="img-product" width="240px" height="240px"
                     ng-src="{{ cart.product.image[0] }}" />
            </div>
            <div class="product-info" ng-show="!cart.status">
                <ul class="product-info-content">
                    <!-- THAY ĐỔI -->
                    <a class="now-get get-cart-in" ng-click="showProduct($index)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil size"></span></a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                             MODAL
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ cart.product.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <form style="font-family: 'Helvetica Neue';font-size: 20px" name="cartProductForm">
                                        <tr>
                                            <div style="float: left; width: 100px; height: 30px">
                                                <td width="20px"><span>Số lượng</span></td>
                                            </div>
                                            <td  style="margin-left: 25px;"><input type="number" id="number" value="1" style="width: 100px" ng-model="cart.quantity" min="1" max="1000" required/></td>
                                        </tr><div style="margin: 25px"></div>
                                        <tr>
                                            <div style="float: left; width: 100px; height: 30px">
                                                <td><span>Size</span></td>
                                            </div>
                                            <td  style="margin-left: 25px;">
                                                <input ng-model="cart.size" type="text" id="sizeProduct" ng-model="sizeProduct" style="width: 100px" required/>
                                            </td>
                                        </tr><div style="margin: 25px"></div>
                                        <div style="float: left; margin: 20px">
                                            <span>Thành tiền {{ cart.product.cost * cart.quantity | currency }}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button style="padding: 20px; background-color: #00BFF0; font-size: 20px; color: #d9edf7; border: none" ng-click="saveUpdateProduct(cart.$id, cart.size, cart.quantity)" type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <h3 class="restyle"><b>{{ cart.product.name | limitTo:60 }}</b></h3>
                    <p class="restyle">{{ cart.product.info[0] | limitTo:60  }}</p>
                    <table>
                        <tbody>
                        <tr>
                            <td class="alignTable">Size</td>
                            <td ><span ><h4 style="margin-left: 50px;">{{ cart.size }}</h4></span></td>
                        </tr>
                        <tr>
                            <td class="alignTable">Quantity</td>
                            <td ><span ><h4  style="margin-left: 50px;">{{ cart.quantity }}</h4></span></td>
                        </tr>
                        <tr>
                            <td class="alignTable">Cost</td>
                            <td ><span><h4 style="margin-left: 50px;">{{ cart.product.cost * cart.quantity }}</h4></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="now-get get-cart-in" style="background-color: #00BFF0" ng-click="buy(cart.$id, cart.product, cart.size, cart.quantity)">MUA NGAY</a>
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <!--<div class="modal fade" id="myModal" role="dialog">-->
            <!--<div class="modal-dialog">-->
                <!--&lt;!&ndash; MODAL &ndash;&gt;-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <!--<h4 class="modal-title">{{ ProductInfo.name }}</h4>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<form style="font-family: 'Helvetica Neue';font-size: 20px" name="cartProductForm">-->
                            <!--<tr>-->
                                <!--<td width="20px"><span>Số lượng</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<input type="number" id="number" value="1" style="width: 100px" ng-model="cart.quantity" min="1" max="1000" required/>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><span>Size</span>-->
                                <!--</td>-->
                                <!--<td height="60px">-->
                                    <!--<input ng-model="cart.size" type="text" id="sizeProduct" ng-model="sizeProduct" style="width: 100px" required/>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<div style="float: right"> <span>Thành tiền {{ ProductInfo.cost * cart.quantity | currency }}</span>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button ng-click="saveUpdateProduct(cart.$id, cart.size, cart.quantity)" type="submit" class="btn btn-default" data-dismiss="modal">Save</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div style="margin: 30px">
            <div>
                <a class="now-get get-cart-in" ng-click="allbuy(carts)">MUA TẤT CẢ</a>
            </div>
            <h2>CÁC SẢN PHẨM ĐÃ XÁC NHẬN MUA</h2>
        </div>
        <div class="cart-product" ng-repeat="cart in carts">
            <div class="product-img" ng-show="cart.status">
                <img class="img-product" width="240px" height="240px"
                     ng-src="{{ cart.product.image[0] }}" />
            </div>
            <div class="product-info" ng-show="cart.status">
                <ul class="product-info-content">
                    <h3 class="restyle"><b>{{ cart.product.name | limitTo:60  }}</b></h3>
                    <p class="restyle">{{ cart.product.info[0] | limitTo:60  }}</p>
                    <table>
                        <tbody>
                        <tr>
                            <td class="alignTable" >Size</td>
                            <td><span ><h4 style="margin-left: 50px;">{{ cart.size }}</h4></span></td>
                        </tr>
                        <tr>
                            <td class="alignTable" >Quantity</td>
                            <td><span ><h4 style="margin-left: 50px;">{{ cart.quantity }}</h4></span></td>
                        </tr>
                        <tr>
                            <td class="alignTable" >Cost</td>
                            <td><span><h4 style="margin-left: 50px;">{{ cart.product.cost * cart.quantity }}</h4></span></td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-cate">
        <categories-revolution></categories-revolution>
        <div class=" chain-grid menu-chain">
            <a href="single.html"><img class="img-responsive chain" src="images/wat.jpg" alt=" " /></a>
            <div class="grid-chain-bottom chain-watch">
                <span class="actual dolor-left-grid">300$</span>
                <span class="reducedfrom">500$</span>
                <h6>Lorem ipsum dolor</h6>
            </div>
        </div>
        <a class="view-all all-product" href="product.html">VIEW ALL PRODUCTS<span> </span></a>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<footer-revolution></footer-revolution>
</body>
</html>